/*MOBILE FRIST*/
/*ESTILOS GENERALES*/
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Luxurious Roman', cursive;
    background-image: url(../img/fondo.jpg);
}

/*SMARTPHONE*/

/* estilos de la paguina index mobile*/
    
    /*menu de navegacion general*/
    .logoInicio{
        width: 250px;
        float: left;
        margin-top: 50px;
        border-radius: 10px;
        border-style: solid;
        color: wheat;
    }
    .logoInicio{
        animation-name: logoInicio ;
        animation-iteration-count:1;
        animation-duration: 1s;
    }
    @keyframes logoInicio {
    from {
        transform:translate(-200px);
    }
    to {
        transform: translate(0);}
    }
    
    .menu{
        display: flex;
        flex-flow: row nowrap;
        justify-content:center;
        width: 100%;
        padding-top: 15px;
        margin-bottom: 18px;
    }
    .menu{
        animation-name: menu;
        animation-iteration-count:1;
        animation-duration: 1s;
    }
    @keyframes menu {
        from {
            transform:translate(-200px);
        }
        to {
            transform: translate(0);}
        }
    .itemsMenu{
        padding: 5px;
        font-size: 20px;
        margin-bottom: 20px;
        margin-right: 18px;
        background-color: rgb(143, 118, 82, 0.5);
        border-radius: 0px;
    }
    .itemsMenu a{
        text-decoration: none;
        color: black;
    }
    .itemsMenu a:hover{
        text-decoration: underline;
        color: blue;
    }
    
    /* fin menu de navegacion general*/
    
    /* contenido inicio general*/

    .banner img{
        width: 100%;
        height: 300px;
        margin-bottom: 5px;
        border-radius: 10px;
        border-width:2px;
        border-style: solid;
        color: wheat;
    }
    .banner img{
        animation-name: banner;
        animation-iteration-count:1;
        animation-duration: 1s;
    }
    @keyframes banner{
        from {
            transform:scale(0);
        }
        to {
            transform:scale(1);
        }
        
    }
    
    /* fin contenido inicio general */

    /*contenido de index mobile*/
.grid {
    display: grid;
grid-template-areas: "titulo"
                     "parrafo"
                     "barriles" 
                     "fabrica";
                     grid-template-columns:100%;
                     grid-column-gap: 50px;
                     
justify-items: center;                  
}

.tituloQuienesosmos{
    grid-area: titulo;
    text-align: center;
    background-color: rgb(143, 118, 82, 0.5);
    font-size: 30px; 
    border-radius: 10px;
    border-style: solid;
    color: black;
}
.tituloQuienesosmos{
    animation-name: tituloQuienesosmos;
    animation-iteration-count: 1;
    animation-duration: 5s;
}
@keyframes tituloQuienesosmos {
    from {
        transform:scale(0);
    }
    to {
        transform:scale(1);
    }
    }

.parrafoQuienesosmos {
    grid-area: parrafo;
    font-size: 25px;
    text-align: center;
}
.parrafoQuienesosmos{
    animation-name: parrafoQuienesosmos;
    animation-iteration-count: 1;
    animation-duration: 5s;
}
@keyframes parrafoQuienesosmos {
    from {
        transform:scale(0);
    }
    to {
        transform:scale(1);
    }
    }
.imgBarriles{
    grid-area: barriles;
    border-radius: 10px;
    border-style: solid;
    color: wheat;
}
.imgBarriles{
    animation-name: imagenBarriles;
    animation-iteration-count:1;
    animation-duration: 3s;
}
@keyframes imagenBarriles {
    from {
        transform:translate(-200px);
    }
    to {
        transform: translate(0);}
    }
.imgFabrica{
    margin-top: 5px;
    grid-area: fabrica;
    border-radius: 10px;
    border-style: solid;
    color: wheat;
}
.imgFabrica{
    animation-name: imagenFabrica;
    animation-iteration-count:1;
    animation-duration: 4s;
}
@keyframes imagenFabrica {
    from {
        transform:translate(-400px);
    }
    to {
        transform: translate(0);}
    }
.grid img{
    width: 450px;
}
    /*fin de contenido index mobile*/

    /*FOOTER general */
    .footer{
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-left: 15px;
        
    }
    .itemsFooter{
        margin: 15px;
    }
    .RD{
        width:100px;
        margin-left: 10px;
    }
    .RD{
        animation-name: RD;
        animation-iteration-count:infinite;
        animation-duration: 5s;
    }
    @keyframes RD {
        from {
            transform:scale(0);
        }
        to {
            transform:scale(1);
        }
        }
    .footer h2{
        color: blanchedalmond;
        font-size: 20px;
    }
    .footer li{
        font-size: 20px;
    }
    
    .logoPie{
        float:none;
        width: 250px;
        margin-top: 20px;
        border-radius: 10px;
        border-style: solid;
        color: wheat;
    } 
    .derechos{
        width: 100%;
        color: blanchedalmond;
        text-align: center;
        background-color:black;
    }
    /*fin del footer general*/

    /* estilos de la paguina nosotros mobile*/
      
.sobreNosotros{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sobreNosotros h2{
    background-color: rgb(143, 118, 82, 0.5);
    font-size: 40px;
    border-radius: 10px;
    border-style: solid;
    color: black;
    margin-bottom: 15px;
}
.sobreNosotros {
    animation-name: sobreNosotros;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes sobreNosotros {
    from {
        transform:scale(0);
    }
    to {
        transform:scale(1);
    }
    }
.sobreNosotros img{
    width: 80%;
    height: 350px;
    border-radius: 10px;
    border-style: solid;
    color: wheat;
}
.sobreNosotros p{
    margin-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    text-align: center;
}
.trabajadores{
    display: flex;
    flex-flow:column;
    width: 100%; 
}
.trabajadores{
    animation-name: trabajadores;
    animation-iteration-count:1;
    animation-duration: 3s;
}
@keyframes trabajadores {
    from {
        transform:translate(-100px);
    }
    to {
        transform: translate(0);}
    }
.trabajador{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    border-style: solid;
    color: wheat;
}
.parrafoNosotros{
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
}
.parrafoNosotros{
    animation-name:parrafoNosotros;
    animation-iteration-count:1;
    animation-duration: 3s;
}
@keyframes parrafoNosotros {
    from {
        transform:translate(-100px);
    }
    to {
        transform: translate(0);}
    }
/* fin estilos de la paguina nosotros*/

/* estilos paguina cervezas mobile*/
.cervezas{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 15px;
}
.cervezas h2{
    font-size: 40px;
    background-color: rgb(143, 118, 82, 0.5);
    margin-bottom: 15px;
    border-radius: 10px;
    border-style: solid;
    color: black;
}
.cervezas h2 {
    animation-name: tituloCervezas;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
@keyframes tituloCervezas {
    from {
        transform:scale(0);
    }
    to {
        transform:scale(1);
    }
    }
.cervezas img{
    width: 80%;
    border-radius: 10px;
    border-style: solid;
    color: wheat;
}
.cervezas img{
    animation-name:cervezasImg;
    animation-iteration-count:1;
    animation-duration: 2s;
}
@keyframes cervezasImg {
    from {
        transform:translate(-500px);
    }
    to {
        transform: translate(0);}
    }
.gridCervezas{
    display: grid;
    grid-template-areas: "tipo1"
                        "nombre1"
                        "cerve1"
                        "nombre4"
                        "cerve4"
                        "nombre7"
                        "cerve7"
                        "tipo2"
                        "nombre2" 
                        "cerve2"
                        "nombre5"
                        "cerve5"
                        "nombre8"
                        "cerve8"
                        "tipo3"
                        "nombre3"
                        "cerve3"
                        "nombre6" 
                        "cerve6"
                        "nombre9"
                        "cerve9";
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                    justify-items: center;
                    align-items: center;
                   
}
.gridCervezas img {
    animation-name: imagenesBirras;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes imagenesBirras {
    from {
        transform:scale(0);
    }
    to {
        transform:scale(1);
    }
    }
/*titulogrid*/
.tituloRubias{
    grid-area: tipo1;
    padding-top: 50px;
    
}
.tituloRojas{
    grid-area: tipo2;
    padding-top: 50px;
}
.tituloNegras{
    grid-area: tipo3;
    padding-top: 50px;
}
.gridCervezas h2{
    animation-name:tituloEstilo;
    animation-iteration-count:1;
    animation-duration: 3s;
}
@keyframes tituloEstilo {
    from {
        transform:translate(-100px);
    }
    to {
        transform: translate(0);}
    }
.gridCervezas h3{
    animation-name:tituloBirras;
    animation-iteration-count:1;
    animation-duration: 3s;
}
@keyframes tituloBirras {
    from {
    transform:translate(-100px);
    }
    to {
     transform: translate(0);}
     }
/*tipos de cerveza 1 fila*/
.nombreGolden{
    grid-area: nombre1;
}
.cervezaGolden{
    grid-area: cerve1;
}
.nombreAmber{
    grid-area: nombre2;
}
.cervezaAmber{
    grid-area: cerve2;
}
.nombreStout{
    grid-area: nombre3;
}
.cervezaStout{
    grid-area: cerve3;
}
/*tipos de cerveza 2 fila*/
.nombreBlond{
    grid-area: nombre4;
}
.cervezaBlond{
    grid-area: cerve4;
}
.nombreEnglishBrown{
    grid-area: nombre5;
}
.cervezaEnglishBrown{
    grid-area: cerve5;
}
.nombrePorter{
    grid-area: nombre6;
}
.cervezaPorter{
    grid-area: cerve6;
}
/*tipos de cerveza 3 fila*/
.nombrePilsner{
    grid-area: nombre7;
}
.cervezaPilsner{
grid-area: cerve7;
}
.nombreScotch{
    grid-area: nombre8;
}
.cervezaScotch{
    grid-area: cerve8;
}
.nombreBock{
    grid-area: nombre9;
}
.cervezaBock{
    grid-area: cerve9;
}

.gridCervezas img{
    width: 100%;
    height: 200px;
    background-color: rgb(143, 118, 82, 0.5);
    border-radius: 10px;
    border-style: solid;
}
.gridCervezas h2{
    font-size: 50px;
    text-align: center;
}
.gridCervezas h3{
    width: 100%;
    height: 100%;
    font-size: 25px;
    text-align: center;
    background-color: rgb(143, 118, 82, 0.5);
    border-radius: 10px;
    border-style: solid;

}
.pedirAhora{
    display: flex;
    flex-flow:column;
    align-items: center;
    margin-top: 20px;
    height: 50px;
    background-color: rgb(143, 118, 82, 0.5);
    border-radius: 10px;
    border-style: solid;
    color: wheat;
    transition: heigth 1s, content 1s;
}
.pedirAhora:hover{
    height: 100%;
    content: 1000px;
}
.pedirAhora a{
    font-size:40px;
    color:black ;
    padding-left: 5%;
}
.pedirAhora a:hover{
    text-decoration: underline;
    color: yellow;
}
.pedirAhora{
    animation-name: pedirAhora;
    animation-iteration-count:infinite;
    animation-duration: 8s;
}
@keyframes pedirAhora {
    from {
        transform:scale(0);
    }
    to {
        transform:scale(1);
    
    }
    }

/* FIN estilos paguina cervezas mobile*/

/* estilos paguina bares mobile*/

.imagenBar h2{
    font-size: 40px;
    background-color: rgb(143, 118, 82, 0.5);
    border-radius: 10px;
    border-style: solid;
    color: black;
    margin-bottom: 15px;
}
.imagenBar h2 {
    animation-name: nuestrosBares;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes nuestrosBares {
    from {
        transform:scale(0);
    }
    to {
        transform:scale(1);
    }
    }
.imagenBar{
    display:flex;
    flex-flow:column;
    width: 100%;
    align-items: center;
}
.imagenBar img{
    width: 90%;
    border-radius: 10px;
    border-style: solid;
    color: wheat;
}
.imagenBar img {
    animation-name: inicioBar;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes inicioBar {
    from {
        transform: translate(-100px);
    }
    to {
        transform: translate(0);
    }
    }
.contenedorBares{
    display: flex;
    flex-flow:column;
    width: 100%;
}
.contenedorBares {
    animation-name: bares;
    animation-iteration-count: 1;
    animation-duration: 3s;
}
@keyframes bares {
    from {
        transform: translate(-100px);
    }
    to {
        transform: translate(0);
    }
    }
.nuestroBar h2{
    font-size: 30px;
    text-align: center;
    background-color: rgb(143, 118, 82, 0.5);
    border-radius: 5px;
    border-style: solid;
    color: black;
    margin-top: 15px; 
    margin-right: 15px;
}
.nuestroBar{
    text-align: left;
}
.nuestroBar p{
    font-size: 25px;
}
/*FIN de estilos paguina bares mobile*/

/* estilos paguina contactos mobile*/
.consulta{
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
margin-bottom: 15px;
}
.consulta h2{
    font-size: 40px;
    background-color: rgb(143, 118, 82, 0.5);
    border-radius: 5px;
    border-style: solid;
    color: black;
    margin-bottom: 15px;
}
.consulta h2 {
    animation-name: tituloConsulta;
    animation-iteration-count: 1;
    animation-duration: 4s;
}
@keyframes tituloConsulta {
    from {
        transform:scale(0);
    }
    to {
        transform:scale(1);
    }
    }
.consulta img{
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    color: wheat;
}
.consulta img {
    animation-name: consultaImg;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes consultaImg {
    from {
        transform: scale(3);
    }
    to {
        transform: scale(1);
    }
    }
.formulario{
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items:center;
    margin-bottom: 15px;
}
.formulario {
    animation-name: formulario;
    animation-iteration-count: 1;
    animation-duration: 2s;
}
@keyframes formulario {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
    }

/* fin estilos paguina contactos mobile*/


/*DESKTOP*/

@media(min-width: 1024px){

    /* inicio contenido desktop */
    .logoInicio{
    transition: padding 1s;
    }
    .logoInicio:hover{
    padding:5px;
    background-color:rgb( 237, 187, 153, 0.2);
    }
    .menu{
        justify-content:flex-end;
    }
    .menu{
        animation-name: menu;
        animation-iteration-count:1;
        animation-duration: 1s;
    }
    @keyframes menu {
        from {
            transform:translate(100px);
        }
        to {
            transform: translate(0);
        }
        }
    .itemsMenu{
        width: 500px;
        padding: 15px;
        border-radius: 10px;
    }
    .itemsMenu{
        transition: padding 1s;
        }
        .itemsMenu:hover{
        padding:10px;
        border-radius: 20px; 
        }
        
    .itemsMenu:hover{
        padding:20px;
        border-radius: 80px 20px;
        }
    .banner img{
    width: 99%;
    margin-right: 5px;
    height: 600px;
    margin-left: 2px;
    }

    .grid {
        display: grid;
    grid-template-areas: "titulo    titulo"
                         "parrafo   parrafo"
                         "barriles fabrica";
                         grid-template-columns: 1fr 1fr;
                         grid-template-rows: 50px 1fr 600px;
                         grid-column-gap: 10px;
                         grid-row-gap: 15px;
    justify-items: center;                  
    }
    
    .tituloQuienesosmos{
        grid-area: titulo;
        text-align: center;
        background-color: rgb(143, 118, 82, 0.5);
        font-size: 30px; 
        border-radius: 10px;
        border-style: solid;
        color: black;
    }
    .parrafoQuienesosmos {
        grid-area: parrafo;
        font-size: 25px;
        text-align: center;
    }
    .imgBarriles{
        grid-area: barriles;
        border-radius: 10px;
        border-style: solid;
        color: wheat;
    }
    .imgBarriles{
        animation-name: imagenBarriles;
        animation-iteration-count:1;
        animation-duration: 3s;
    }
    @keyframes imagenBarriles {
        from {
            transform:translate(-200px);
        }
        to {
            transform: translate(0);}
        }
    .imgFabrica{
        grid-area: fabrica;
        border-radius: 10px;
        border-style: solid;
        color: wheat;
    }
    .imgFabrica{
        animation-name: imagenFabrica;
        animation-iteration-count:1;
        animation-duration: 3s;
    }
    @keyframes imagenFabrica {
        from {
            transform:translate(100px);
        }
        to {
            transform: translate(0);}
        }
    /* Fin contenido inicio desktop*/

    /*FOOTER desptok*/
    .footer{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        margin-top: 300px;
    }
    .logoPie{
        float:left;
        width: 250px;
        margin-top: 20px;
        padding-right: 40px;
        border-radius: 10px;
        border-style: solid;
        color: wheat;
    } 
    .logoPie{
        transition: padding 1s;
        }
    .logoPie:hover{
        padding:5px;
        background-color:rgb( 237, 187, 153, 0.2);
        }
    
    /* FIN FOOTER desptok*/

    /* estilos de la paguina nosotros desptok*/
    .trabajadores{
        display: flex;
        flex-flow:row nowrap;
        width: 100%;  
    }
    .trabajador{
        width: 50%;
        margin-right: 10px;
    }

    /* fin estilos de la paguina nosotros desptok*/

    /* estilos paguina cervezas desptok*/
    .gridCervezas{
        display: grid;
        grid-template-areas: " tipo1 tipo2 tipo3"
                            "nombre1 nombre2 nombre3"
                            "cerve1 cerve2 cerve3"
                            "nombre4 nombre5 nombre6" 
                            "cerve4 cerve5 cerve6"
                            "nombre7 nombre8 nombre9"
                            "cerve7 cerve8 cerve9"
                            ;
                         grid-template-columns: 1fr 1fr 1fr;
                         grid-template-rows: auto auto auto;
                         grid-column-gap: 10px;
                         grid-row-gap: 10px;
                        justify-items: center;
                        align-items: center;
                       
    }
/*transition*/
.cervezaGolden{
    transition: width 1s;
    }
.cervezaGolden:hover{
    width: 90%;
    }
.cervezaBlond{
    transition: width 1s;
    }
.cervezaBlond:hover{
    width: 90%;
    } 
.cervezaPilsner{
    transition: width 1s;
    }
.cervezaPilsner:hover{
    width: 90%;
    }
.cervezaAmber{
    transition: width 1s;
    }
.cervezaAmber:hover{
    width: 90%;
    }
.cervezaEnglishBrown{
    transition: width 1s;
    }
.cervezaEnglishBrown:hover{
    width: 90%;
     }
.cervezaScotch{
    transition: width 1s;
     }
.cervezaScotch:hover{
    width: 90%;
    }
.cervezaStout{
    transition: width 1s;
    }
.cervezaStout:hover{
    width: 90%;
    }
.cervezaPorter{
    transition: width 1s;
    }
.cervezaPorter:hover{
    width: 90%;
    }
.cervezaBock{
    transition: width 1s;
    }
 .cervezaBock:hover{
    width: 90%;
        }
/* fin transition*/
    .pedirAhora{
        display: flex;
        flex-flow: row nowrap;
        margin-top: 20px;
        width: 500px;
        height: 50px;
        margin-left: 30%;
        background-color: rgb(143, 118, 82, 0.5);
        border-radius: 10px;
        border-style: solid;
        color: wheat;
        justify-content: center;
        transition: padding 1s;
    }
    .pedirAhora:hover{
        justify-content: center;
        padding: 20px;
        background-color:rgb( 246, 72, 41, 0.3);
        }
    /* fin estilos paguina cervezas desptok*/

    /* estilos paguina bares desptok*/
    .imagenBar img{
        width: 90%;
        height: 600px; 
    }
    .imagenBar img {
        animation-name: inicioBar;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }
    @keyframes inicioBar {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
        }
    .nuestroBar{
        text-align: center;
    }

    .contenedorBares{
        display: flex;
        flex-flow:row nowrap;
        width: 100%;
    }
    /* fin estilos paguina bares desptok*/

    /* estilos paguina contactos desptok*/
    
    .consulta img{
        width: 60%;
        border-radius: 10px;
        border-style: solid;
        color: wheat;
    }
    .formulario{
    align-items:flex-start;
    margin-left: 15px;
    margin-bottom: 15px;
    }
    .formulario {
        animation-name: formulario;
        animation-iteration-count: 1;
        animation-duration: 5s;
    }
    @keyframes formulario {
        from {
            transform: translate(800px)
        }
        to {
            transform: translate(0);
        }
        }
    /*fin estilos paguina contactos desptok*/
}
/*FIN DE MEDIAQUIERIS*/






