@import "../partials/colores";
@import "../partials/tipografia";

/* estilos paguina bares mobile*/

.nuestrosBares{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 15px;
    & h2{
    font-size: $tamanoTitulos;
    background-color: $madera;
    margin-bottom: 15px;
    border-radius: 10px;
    border-style: solid;
    color: $marino;
    }
}
section{
    .contenedorBares{
        background-color: $fondoLegible;
        & h2{
    width: 100%;
    font-size: 30px;
    text-align: center;
    background-color: $madera;
    border-radius: 5px;
    border-style: solid;
    color: $marino;
    margin-top: 15px; 
    margin-right: 15px;
        }
        & p{
            font-size: $tamanoParrafo;
            color: $negro;
            
        }
        & img{
            animation-name: inicioBar;
            animation-iteration-count: 1;
            animation-duration: 2s;
        }
    }
    @keyframes inicioBar {
        from {
            transform: translate(-100px);
            }
            to {
            transform: translate(0);
        }
        }
}

/*FIN de estilos paguina bares mobile*/

