@import "../partials/colores";
@import "../partials/tipografia";

/*Footer general*/

footer{
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content:center;
        padding-left: 15px;
        background-color: $fondoLegible;
        border-radius: 5px;
        
    section{
        .logoPie{
            margin-top: 5px;
            border-radius: 10px;
            border-style: solid;
            color: $marino;
        } 
    }
    .ti1{
        margin-top: 15px;
        padding-left: 15px;
        color:map-get($paleta, marino);;
        font-size: $tamanoTitulos;
        display: flex;
        align-items: center;

     }

    .footer1{
        width: 50%;
        display: flex;
        flex-flow:row wrap;
        align-items: center;
        .ti1{
            width: 50%;
            
        }
        
         & a{
            font-size: $tamanoParrafo;
            color: $negro;
            flex-flow: row;
            .RD{
                width:40px;
                margin-left: 10px;
            }
         }
        
    }
    .itemsFooter{
        margin: 15px;
        h2{
            width: 50%;
            margin-top: 15px;
            color: map-get($paleta, marino);
            font-size: $tamanoTitulos;
         }
         ul{
             li{
            font-size: $tamanoParrafo;
            color: $negro;}
             }
    }
    
    
}
.derechos{
    padding-bottom: 1px;
    width: 100%;
    font-size: $tamanoParrafo;
    color: $madera;
    text-align: center;
    background-color:$negro;
}

/*Fin Footer general*/

/*footer desktop*/
@media(min-width: 1024px){
footer{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    background-color: $fondoLegible;
    border-radius: 5px;
    section{
        .logoPie{
            width: 200px;
            float: left;
            margin-left: 5px;
        }
    }
    }
    .footer1{
        width:100%;
        padding-top:15px;
        margin-left: 10px;
        
        .ti1{
        font-size: $tamanoTitulos;
           
        }
        
        h2{
            margin-top: 15px;
            color: $marino;
            font-size: $tamanoTitulos;
            text-align: center;
         }
         ul{
             li{
            font-size: $tamanoParrafo;
            color: $negro;}
             }
        
    }
    .itemsFooter{
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center; 
        text-align: center;
           
        .ti2{
            width: 100%;
            text-align: center; 
          
        }
        .ti3{
            width: 100%;
            text-align: center;  
        }
        h2{
           margin-top: 15px;
           color: $marino;
           font-size: $tamanoTitulos;
        
         }
        ul{
            margin-top: 10px;
            color: $negro;
            font-size: $tamanoParrafo;
            li{
               color:$negro; 
            }
        
         }
         
    }
}
/*Fin footer desktop*/


    
   
